---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <main class="container">
    <h1 class="heading text-3xl font-medium mb-12" transition:name="name">
      David Elutilo
    </h1>

    <section class="mb-8">
      <h2 class="heading text-xl font-medium mb-4">I am a...</h2>
      <ul>
        <li>developer</li>
        <li>designer</li>
        <li>creative</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="heading text-xl font-medium mb-4">What I can do...</h2>
      <ul>
        <li>front/back(end) web development</li>
        <li>web design</li>
        <li>graphic design</li>
        <li>site optimization</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="heading text-xl font-medium mb-4">
        What I want to do for <span class="uppercase">you</span>...
      </h2>
      <ul>
        <li>
          build clean, accessible sites that accentuate your brand personality
        </li>
        <li>
          enhance digital experiences with creative use of type, color and
          motion
        </li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="heading text-xl font-medium mb-4">
        What I want to do for <span class="uppercase">me</span>...
      </h2>
      <ul>
        <li>express and challenge my creativity with each project</li>
      </ul>
    </section>
  </main>
</Layout>
