---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { fade } from 'astro:transitions';
---

<Layout title="About">
  <Header />
  <main>
    <h1>About</h1>
    <p>This is the about page.</p>
  </main>
</Layout>
