---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { fade } from 'astro:transitions';
---

<Layout title="About">
  <main class="container">
    <h1 class="heading text-3xl font-medium mb-12">me.</h1>
    <p>This is the works page.</p>
  </main>
</Layout>
