---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { fade } from 'astro:transitions';
---

<Layout title="Blog">
  <main class="container">
    <h1>Blog</h1>
    <p>This is the blog page.</p>
  </main>
</Layout>
