---
// import Timeline from '../components/react/Timeline';
import Timeline from '../components/react/Timeline/d3';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const experienceItems = await getCollection('experience');
---

<Layout title="Experience">
  <main class="container">
    <h1 class="heading text-3xl font-medium mb-12">experience.</h1>
    <Timeline items={experienceItems} client:load />
  </main>
</Layout>
