---
let menuLinks = [
  // {
  //   title: 'design',
  //   href: '/design',
  // },
  {
    title: 'me',
    href: '/about',
  },
  {
    title: 'exp',
    href: '/experience',
  },
  {
    title: 'dev',
    href: '/',
  },
  {
    title: 'works',
    href: '/works',
  },
  // {
  //   title: 'blog',
  //   href: '/blog',
  // },
  {
    title: 'contact',
    href: '/contact',
  },
];
const isEven = menuLinks.length % 2 === 0;
const isActive = (href: string) => Astro.url.pathname === href;
---

<header
  id="header"
  class="header flex items-center"
  transition:persist
  transition:name="header"
>
  <h1 id="title" class="title">delutilo.</h1>
  <nav data-prev={0}>
    <ul transition:name="menu" class={`menu ${isEven ? 'is-even' : ''}`}>
      {
        menuLinks.map((link, index) => (
          <li
            class={`menu-item ${isActive(link.href) ? 'active' : ''}`}
            data-order={index + 1}
            data-title={link.title}
          >
            <a href={link.href}>{link.title}</a>
          </li>
        ))
      }
      <span class="slider" id="slider"></span>
    </ul>
  </nav>
</header>

<script is:inline src="helpers/animation.js"></script>

<script>
  let header: HTMLElement | null =
    document.getElementById<HTMLElement>('header');
  let nav: HTMLElement | null = document.querySelector<HTMLElement>('nav');
  let menu: HTMLElement | null = document.querySelector<HTMLElement>('.menu');
  let menuItems = document.querySelectorAll('.menu-item');
  let prevActive: HTMLElement | null = null;
  let currActive: HTMLElement | null =
    document.querySelector('.menu-item.active');
  let slider = document.getElementById<HTMLElement>('slider');

  document.addEventListener('astro:page-load', () => {
    if (window.location.pathname !== '/') {
      header?.classList.add('shrink');
    }

    setTimeout(() => {
      if (currActive) {
        highlightMenuItem(slider, currActive);
        menu.style.pointerEvents = 'auto';
      }

      let prev: number = parseInt(nav.dataset.prev);

      if (!parseInt(nav.dataset.prev)) {
        setActiveTab(currActive);
      }
    }, 500);

    function setActiveTab(item: HTMLElement | null) {
      let nextItemOrder = parseInt(item.dataset.order);
      let currActiveOrder = prevActive ? parseInt(currActive.dataset.order) : 3;

      let itemHeight = currActive.clientHeight + 16;
      let stepsFromBase = nextItemOrder - currActiveOrder;

      let scrollDistance = Math.abs(stepsFromBase * itemHeight);
      if (stepsFromBase > 0) {
        scrollDistance = -scrollDistance;
      }

      if (nav?.dataset.prev) {
        let prev = parseInt(nav.dataset.prev);
        scrollDistance += prev;
      }
      nav.style.transform = `translateY(${scrollDistance}px)`;

      currActive.classList.remove('active');
      item.classList.add('active');
      prevActive = currActive;
      currActive = item;

      nav.dataset.prev = scrollDistance;
    }

    menuItems.forEach((item) => {
      item.addEventListener('click', () => {
        menu.style.pointerEvents = 'none';
        if (item.classList.contains('active')) return;

        setActiveTab(item);

        slider.classList.add('highlighted');

        if (item.dataset.title === 'dev') {
          header?.classList.remove('shrink');
        } else {
          header?.classList.add('shrink');
        }
      });

      item.addEventListener('mouseover', () => {
        highlightMenuItem(slider, item);
      });
    });

    nav.addEventListener('mouseleave', () => {
      highlightMenuItem(slider, currActive);
    });
  });
</script>

<style>
  h1 {
    font-family: 'RaglotDemo', sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    z-index: 5;
  }

  nav {
    margin-left: -2rem;
    position: relative;
    transition: all 0.25s;
  }

  @starting-style {
    .menu-item {
      visibility: hidden;
      opacity: 0;
    }
  }

  .header {
    transition: all 0.25s;
    &.shrink {
      transform: scale(0.5);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    &:hover {
      .menu-item:not(.active) {
        visibility: visible;
        opacity: 0.5;
      }
    }

    &.is-even {
      transform: translateY(calc(-1rem));
    }
  }

  .menu-item {
    visibility: hidden;
    z-index: 5;
    font-family: 'RaglotDemo', sans-serif;
    font-size: 4rem;
    line-height: 1;
    margin: 0 1rem;
    cursor: pointer;
    transition:
      opacity 0.25s,
      visibility 0.25s;
    transition-behavior: allow-discrete;
    opacity: 0;
    @apply px-8;

    &:hover {
      color: white;
      opacity: 1 !important;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .slider {
    position: absolute;
    transition: all 0.25s;
    animation: 500ms ease-in 500ms grow;
    @apply bg-gray-400 rounded-full;

    &.highlighted {
      animation: none;
    }
  }

  @keyframes grow {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }
</style>
